:root {
    --color-1: rgb(66, 145, 209);
    --color-2:rgb(142, 188, 226);
  }
  *{
    margin:0;
    padding: 0;
  }
  html{
    background-color: var(--color-2);
    height: auto;
  }

header, footer{
    background-color: var(--color-1);
    min-height: 50px;
}
main{
    min-height: 100vh;
    height: auto;
    background-color: var(--color-2);
    margin-bottom:-17px ;
}
footer{
    margin-bottom: 0;
    padding-bottom: 5vh;
}
footer a{
    text-decoration: none;
    color:white;
  }

  #map {
    width: 50vw;
    height: 30vw;
    margin: 15px;
  }