:root {
    --color-1: rgb(66, 145, 209);
    --color-2:rgb(142, 188, 226);
  }
  *{
    margin:0;
    padding: 0;
  }
  html{
    background-color: var(--color-2);
  }

header, footer{
    background-color: var(--color-1);
}
main{
    min-height: 100vh;
    background-color: var(--color-2);
}
footer{
    margin-bottom: 0;
    padding-bottom: 5vh;
}

footer a{
  text-decoration: none;
  color:white;
}
.about-site .bi{
  font-size: 200px;
  color:white;
}
/*------------------------------------------------------------*/

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  list-style-type: none;  
}

.pagination__item {
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

.pagination__item--active {
  font-weight: 800;
  color: rgb(8, 228, 11);
}
/*-------------------------------------------------------*/
#map {
  width: 80vw;
  height: 50vw;
}

@media (max-width: 767px) {
  .computer { 
    display: none;
  }
}
/* ------------------------------------ */
p{
  font-family: 'Playfair Display', serif;
}

.photo{
  width: 70%;
}

.filterplace{
  min-height: 70px;
  text-align: bottom;
}